footer {
  box-sizing: border-box;
  height: 100px;
  position: relative;
  background-color: #444;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  align-items: center;
  align-content: center;
}

footer ul {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 24px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li :last-child {
  margin-left: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer p a {
  color: #fff;
}
