body {
  margin: 0px;
}

.container {
  box-sizing: border-box;
  position: absolute;
  margin: 40px 10%;
  width: 90%;
  height: calc(100% - 80px);
  background-image: url('./../../images/dubrovnik.jpg');
  background-repeat: no-repeat;
  background-size: 90% 100%;
}

.textwrap {
  position: absolute;
  top: 0%;
  right: 10%;
  /* background: rgb(252, 202, 141); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%;
  height: 100%; */
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3mm;
  font-weight: 200;
}

.enter {
  position: absolute;
  top: 55%;
  right: 15%;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3mm;
  font-weight: 200;
  cursor: pointer;
  border-bottom: 2px solid black;
  padding-left: 10px;
}

.arrow {
  position: absolute;
  top: 57%;
  right: 13%;
  
}

.letter {
  margin-right: 10px;
}

/* 
header {
  width: 100%;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 600;
  background: black;
  color: gainsboro;

}

header .title {
  position: relative;
  left: 25%;
}

.imgwrap {
  position: absolute;

  top: 25%;
  left: 30%;
}



img {
  width: 300px;
}

ul,
nav {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

i {
  cursor: pointer;
}

a:hover {
  opacity: 1;
}


.right {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  background: rgba(152, 173, 164);
  text-align: center;
}

.left {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.menu {
  top: 30%;
  position: relative;
  left: 50%;
}

header nav li {
  margin: 0 15px;
  font-size: 16px;
}

header nav li :first-child {
  margin-left: 0;
}

header nav li :last-child {
  margin-right: 0;
}

header nav li :hover {
  color: #fff;
  transition: color 0.5s ease;
}

@media (max-width: 800px) {
  section {
    padding: 70px 50px;
  }
  .menu {
    display: none;
  }
  img {
    width: 100%;
  }
} */
